<mat-card *ngIf="userDetail" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{userDetail.firstName}} {{userDetail.lastName}}</mat-card-title>
    <mat-card-subtitle>{{userDetail.email}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <!-- Mobile Number -->
      <mat-list-item>
        <div matline>
          Mobile Number:
          <button mat-button>{{userDetail.mobile}}</button>
        </div>
      </mat-list-item>

      <!-- Gender -->
      <mat-list-item>
        <div matline>
          Gender:
          <button mat-button>{{userDetail.gender}}</button>
        </div>
      </mat-list-item>

      <!-- Package -->
      <mat-list-item>
        <div matline>
          Package:
          <button mat-button>{{userDetail.package}}</button>
        </div>
      </mat-list-item>

      <!-- Bmi -->
      <mat-list-item>
        <div matline>
          Bmi:
          <button mat-button>{{userDetail.bmi}}</button>
        </div>
      </mat-list-item>

      <!-- BmiResult -->
      <mat-list-item>
        <div matline>
          BmiResult:
          <button mat-button>{{userDetail.bmiResult}}</button>
        </div>
      </mat-list-item>

      <!-- Trainer Require -->
      <mat-list-item>
        <div matline>
          Trainer Require:
          <button mat-button>{{userDetail.requireTrainer}}</button>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div matLine>
          Goals:
          <button mat-button>
            <mat-chip-listbox
              *ngFor="let row of userDetail.important"
            >
              <mat-chip-option selected>{{ row }}</mat-chip-option>
            </mat-chip-listbox>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
