.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('../../assets/user_318-370478.avif');
    background-size: cover;
  }